* {
  border: none;
}

body,
body::before,
body::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  --background-color: #f0f0f0;
  --text-color: #0a0a0a;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

form {
  background-color: rgba(28, 28, 28, 0.9);
  color: var(--background-color);
  padding: 5vmin;
  width: 20vw;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  font-size: 1.2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
  font-weight: 700;
}

input {
  padding: 8px;
  border-radius: 4px;
}

#toast-box {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 25vw;
  height: 10vh;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  color: #0a0a0a;
  border-radius: 8px;
}

.toast i {
  margin: 0 20px;
  font-size: 2rem;
}

.toast.warn i {
  color: #d66400;
}

.toast.error i {
  color: red;
}

.toast.success i {
  color: green;
}

button {
  padding: 2vmin;
  font-size: 1.2rem;
  font-weight: 600;
  color: #041004;
  width: 100%;
  border-radius: 4px;
  transition: 200ms ease-in;
}

button:hover {
  transform: scale(1.02);
  background-color: #d66400;
  color: var(--background-color);
  cursor: pointer;
}
