* {
  border: none;
}

body,
body::before,
body::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #041004;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5vmin;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
  font-size: 1.2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input {
  padding: 8px;
  border-radius: 4px;
}

#toast-box {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 25vw;
  height: 10vh;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background-color: #677969;
  border-radius: 8px;
}

.toast i {
  margin: 0 20px;
  font-size: 2rem;
}

.toast.warn i {
  color: yellow;
}

.toast.error i {
  color: red;
}

.toast.sucess i {
  color: green;
}

button {
  padding: 1vmin;
  font-size: 1.2rem;
  font-weight: 600;
  color: #041004;
  width: 100%;
  border-radius: 4px;
}
